<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/bootstrap413/css/style.css">
    <link rel="stylesheet" href="/resources/datatables/css/dataTables.bootstrap4.min.css"/>
</head>
<body>


<div th:fragment="js">
    <script src="/resources/jquery/jquery-3.5.1.min.js"></script>
    <script src="/resources/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/resources/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/resources/bootstrap413/js/bootstrap.min.js"></script>
</div>
</body>
</html>